body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width:100%;
    position:absolute;
    top:0;
    left:0;
    background-color:white;
}

header img {
    margin-left: 30px;
    margin-top: 10px;
}

header h1 {
    display: inline-block;
    vertical-align:30%;
}

.container {
    width:100%;
    height:100%;  
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    background-color: rgb(246, 248, 249);
    padding-top: 100px;
    padding-left: 10%;
}

.main {
    width:80%;
    border-radius: 5px;
    background-color:rgb(255, 255, 255);
}

.menu {
    margin: 5% 6% 0% 6%;
    padding-top: 20px;
}

.menu button {
    border-radius: 5px;
    border: solid 1px grey;
    margin-left: 2%;
}

.select {
    background-color: rgb(99, 171, 235);
    border: none;
    color: white;
}

.unselect {
    background-color: transparent;
}

.blu {
    background-color: rgb(99, 171, 235);
    border-radius: 15%;
    border: none;
    padding: 5px;
    margin-left: 2%;
    color: white;
    font-size: 8px;
}

.purple {
    background-color: rgb(151, 116, 221);
    border-radius: 15%;
    border: none;
    padding: 5px;
    margin-left: 2%;
    color: white;
    font-size: 8px;
}

.green {
    background-color: rgb(124, 190, 170);
    border-radius: 15%;
    border: none;
    padding: 5px;
    margin-left: 2%;
    color: white;
    font-size: 8px;
}

.orange {
    background-color: rgb(230, 162, 75);
    border-radius: 15%;
    border: none;
    padding: 5px;
    margin-left: 2%;
    color: white;
    font-size: 8px;
}

.pink {
    background-color: rgb(201, 106, 159);
    border-radius: 15%;
    border: none;
    padding: 5px;
    margin-left: 2%;
    color: white;
    font-size: 8px;
}

.lime {
    background-color: rgb(181, 200, 73);
    border-radius: 15%;
    border: none;
    padding: 5px;
    margin-left: 2%;
    color: white;
    font-size: 8px;
}

.list ol {
    list-style: none;
    padding-bottom: 5px;
    padding-top: 5px;
}

.list li {
    padding-top: 10px;
}

.list span {
    margin-right: 5px;
}

.check {
    color: green;
    border:1px solid green;    
    height:100px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    padding: 2px;
    font-size: 10px;
}

.cross {
    color: red;
    border:1px solid red;    
    height:100px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    padding: 2px;
    font-size: 10px;
}